{% extends "base.html" %}

{% block title %}Forgot your password{% endblock %}

{% block content %}

{% if form.errors %}
    {% include includes/notification.html" with text_1="Your username and password didn't match." text_2="Please try again." %}
{% endif %}
{% if messages %}
    {% for message in messages %}
<!--        <div id="successMessage" style="display: none;">{{ message }}</div>-->
        {% include "includes/notification.html" with text_1=message text_2="" %}
    {% endfor %}
{% endif %}
{% if validlink %}
    <div class="login-page">
        <div class="form">
            <form class="password-recovery-form" style="display: block;" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <input placeholder="New password" type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <input placeholder="Confirm password" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    <!--            <input type="email" name="email"  />-->
                <button type="submit">Change my password</button>
            </form>
        </div>
    </div>
{% else %}
    <div>
        <h3>Password reset unsuccessful</h3>
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
    </div>
{% endif %}
{% endblock %}