{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <div class="row no-gutters bg-light position-relative">
        <div class="col-md-5 mb-md-0 p-md-4">
            <a href="{{ image.image.url }}">
                <img src="{% thumbnail image.image 350x0 %}" class="rounded w-auto min-vw-50 shadow mx-auto d-block">
            </a>
        </div>
        <div class="col-md position-static p-4 pl-md-0">
            <h5 class="mt-0">{{ image.title }}</h5>
            {% with total_likes=image.users_like.count users_like=image.users_like.all %}
                <div class="image-info">
                    <p class="overflow-auto" style="max-height: 300px;">{{ image.description }}</p>
<!--                    linebreaks-->
                </div>
                <div class="image-likes-count">
                    <div class="image-likes overflow-auto">
                        {% for user in image.users_like.all %}
                            <div style="margin-top: 10px;">
                                {% if user.profile.photo %}
                                    <img src="{{ user.profile.photo.url }}" alt="" width="40" height="40" class="rounded-circle">
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                    </svg>
                                {% endif %}
                                <span class="ml-2">{{ user.first_name }}</span>
                            </div>
                        {% empty %}
                            <h5 class="ml-2">Nobody likes this image yet.</h5>
                        {% endfor %}
                    </div>
                    <div>
                        <button class="btn btn-primary" style="pointer-events: none; cursor: not-allowed;">
                            <span class="like">view{{ total_views|pluralize }}</span>
                            <span class="badge badge-light">{{ total_views }}</span>
                        </button>
                        <button type="button" class="btn btn-primary" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like">
                            <span class="like">{% if request.user not in users_like %}Like{% else %}Unlike{% endif %}</span>
                            <span class="badge badge-light">{{ total_likes }}</span>
                        </button>
                    </div>

                </div>
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block domready %}
    const url = '{% url "images:like" %}';
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    document.querySelector('button.btn').addEventListener('click', function(e){
        e.preventDefault();
        var likeButton = this;

        var formData = new FormData()
        formData.append('id', likeButton.dataset.id);
        formData.append('action', likeButton.dataset.action);
        options['body'] = formData;

        // отправить HTTP-запрос
        fetch(url, options).then(response => response.json()).then(data => {
            if (data['status'] === 'OK')
            {
                var previousAction = likeButton.dataset.action;

                var likeButtonText = document.querySelector('span.like');

                // переключить текст кнопки и атрибут data-action
                var action = previousAction === 'like' ? 'unlike' : 'like';
                likeButton.dataset.action = action;
                likeButtonText.innerHTML = action;

                // обновить количество лайков
                var likeCount = document.querySelector('span.badge');
                var totalLikes = parseInt(likeCount.innerHTML);
                likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;

                // bookmarklet.style.display = 'none';
                // image-likes
            }
        })
    });
{% endblock %}