<header class="page-header page-header_border-shadow">
    <div class="page-header__inner">
        <div class="page-header__top">
            <div class="page-header__logo">
                <a class="page-header__logo__link link" href="/" aria-label="My Blog">BookMarks</a>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                <nav>
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                    <a href="{% url 'images:list' %}">Images</a>
                    <a href="{% url 'user_list' %}">People</a>
                    <a href="{% url 'settings' %}">settings</a>
<!--                    <a href="{% url "logout" %}">Log-out</a>-->
                    <input id="logoutButton" class="btn btn-primary" type="submit" data-csrf="{{ csrf_token }}" value="Log out">
                    {% if section == "dashboard" %}<div class="btn btn-primary animation start-dashboard"></div>{% endif %}-->
                    {% if section == "images" %}<div class="btn btn-primary animation start-images"></div>{% endif %}
                    {% if section == "people" %}<div class="btn btn-primary animation start-people"></div>{% endif %}
                    {% if section == "settings" %}<div class="btn btn-primary animation start-settings"></div>{% endif %}
                </nav>
                {% else %}
                <nav>
                    <a class="btn btn-primary nav-link" href="{% url 'login' %}">Login</a>
                    <div class="animation"></div>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</header>