{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% include "account/includes/notification.html" with text_1=message text_2="" %}
    {% endfor %}
{% endif %}

<div id="snippetContent">
    <div class="container light-style flex-grow-1 container-p-y"><h4 class="font-weight-bold py-3 mb-4"> Account
        settings</h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
<!--                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-connections">Connections</a>-->
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <form enctype="multipart/form-data" action="{% url 'settings' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="profile">
                                <div class="card-body media align-items-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-80">
                                    <div class="media-body ml-4">
                                        <label class="btn btn-outline-primary"> Upload new photo
                                            <input type="file" name="photo" accept="image/*" class="account-settings-fileinput">
                                        </label> &nbsp;
                                        <button name="photo-clear" type="button" class="btn btn-default md-btn-flat">Reset</button>
                                        <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">First Name</label>
                                        <input type="text" name="first_name" class="form-control" placeholder="First Name" value="{% if user.first_name %}{{ user.first_name }}{% endif %}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="{% if user.last_name %}{{ user.last_name }}{% endif %}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" name="email" class="form-control mb-1" value="{% if user.email %}{{ user.email }}{% endif %}">
                                        <div class="alert alert-warning mt-3">
                                            Your email is not confirmed. Please check your inbox.<br>
                                            <a href="javascript:void(0)">Resend confirmation</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" value="Change">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <form action="{% url 'password_change' %}" method="post">
                                <div class="card-body pb-2">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Repeat new password</label>
                                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" value="Change">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="account-info">
                            <form action="{% url 'settings' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="info_user">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Bio</label>
                                        <textarea class="form-control" name="bio" placeholder="Tell us about yourself." rows="5">{% if info_user.bio %}{{ info_user.bio }}{% endif %}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Birthday</label>
                                        <input type="date" class="form-control" name="birthday"{% if info_user.birthday %} value="{{ info_user.birthday|date:'Y-m-d' }}"{% endif %}>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Country</label>
                                        <select class="custom-select" name="country">
                                            {% for code, name in countries %}
                                                <option value="{{ code }}" {% if info_user.country == code %}selected{% endif %}>{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2"><h6 class="mb-4">Contacts</h6>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="text" name="phone_number" class="form-control" value="{% if info_user.phone_number %}{{ info_user.phone_number }}{% endif %}">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" value="Change">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="account-social-links">
                            <form action="{% url 'settings' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="social_media_user">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Twitter</label>
                                        <input type="text" name="twitter" class="form-control"{% if social_media_user.twitter %} value="{{ social_media_user.twitter }}"{% endif %}>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Facebook</label>
                                        <input type="text" name="facebook" class="form-control"{% if social_media_user.facebook %} value="{{ social_media_user.facebook }}"{% endif %}>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Google+</label>
                                        <input type="text" name="google" class="form-control"{% if social_media_user.google %} value="{{ social_media_user.google }}"{% endif %}>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">LinkedIn</label>
                                        <input type="text" name="linkedIn" class="form-control"{% if social_media_user.linkedIn %} value="{{ social_media_user.linkedIn }}"{% endif %}>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Instagram</label>
                                        <input type="text" name="instagram" class="form-control"{% if social_media_user.instagram %} value="{{ social_media_user.instagram }}"{% endif %}>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" value="Change">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
<!--                        <div class="tab-pane fade" id="account-connections">-->
<!--                            <div class="card-body">-->
<!--                                <button type="button" class="btn btn-twitter">Connect to <strong>Twitter</strong>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <hr class="border-light m-0">-->
<!--                            <div class="card-body"><h5 class="mb-2"><a href="javascript:void(0)"-->
<!--                                                                       class="float-right text-muted text-tiny"><i-->
<!--                                    class="ion ion-md-close"></i> Remove</a> <i-->
<!--                                    class="ion ion-logo-google text-google"></i> You are connected to Google:</h5>-->
<!--                                nmaxwell@mail.com-->
<!--                            </div>-->
<!--                            <hr class="border-light m-0">-->
<!--                            <div class="card-body">-->
<!--                                <button type="button" class="btn btn-facebook">Connect to <strong>Facebook</strong>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <hr class="border-light m-0">-->
<!--                            <div class="card-body">-->
<!--                                <button type="button" class="btn btn-instagram">Connect to <strong>Instagram</strong>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="tab-pane fade" id="account-notifications">
                            <form action="{% url 'settings' %}" method="post">
                                <div class="card-body pb-2"><h6 class="mb-4">Activity</h6>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="customSwitch1"false">
                                            <label class="custom-control-label" for="customSwitch1">Email me when someone comments on my article</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="customSwitch2"">
                                            <label class="custom-control-label" for="customSwitch2">Email me when someone answers on my forum thread</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="customSwitch3"">
                                            <label class="custom-control-label" for="customSwitch3">Email me when someone follows me</label>
                                        </div>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Application</h6>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="customSwitch4"">
                                            <label class="custom-control-label" for="customSwitch4">News and announcements</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="customSwitch5"">
                                            <label class="custom-control-label" for="customSwitch5">Weekly product updates</label>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="customSwitch6"">
                                            <label class="custom-control-label" for="customSwitch6">Weekly blog digest</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" value="Change">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="href_link" value="{{ href_link }}">
        <input type="hidden" id="href_link_message" value="{{ href_link_message }}">
    </div>
</div>
{% endblock %}
