{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css'>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div class="page">
        {% include "account/includes/navbar.html" %}
        <main class="page-main page-main__font">
            <div class="page-main__conntent">
                <div class="page-main__content-wrap">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        <footer class="page-footer page-footer_font">
            <div class="page-footer__inner">
                <div class="page-footer__top">
                    <div class="page-footer__logo">
                        <a class="page-footer__logo__link link" href="/" aria-label="My Blog">BookMarks</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js'></script>
    <script src="{% static "js/base.js" %}"></script>
</body>
</html>